$c-white: #ffffff;

$c-primary: #004680;
$c-white-100: #f8f9fa;
$c-purple: #7460ee;
$c-secondary: #6c757d;
$c-gray-200: #dee2e6;
$c-gray-300: #a5a5a5;
$c-gray-500: #ced4da;
$c-gray-800: #6a6a6a;
$c-gray-900: #4f5467;
$c-success: #21c1d6;
$-cyan-300: #eef5f9;
$c-blue-200: #708699;
$c-warning: #ffa92b;
$c-danger: #fc4b6c;
$c-dark: #000000;
