.sidebar {
  .p-tree.p-component {
    height: 100%;
    padding: 12px;
    width: 100%;
  }
  .p-tree
    .p-tree-container
    .p-treenode
    .p-treenode-content
    .p-tree-toggler:focus,
  .p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    box-shadow: none !important;
  }
}
