.private-layout {
  background-color: #edf1f5;
  min-height: 100vh;
  overflow: scroll;
  & main {
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 4.5rem 1fr;
    min-height: 100vh - 10vh;
    & .content,
    & .skeleton-content {
      padding: 12px;
    }

    &.closed-sidebar {
      grid-template-columns: 3.5rem 1fr;
      .p-tree-container .p-treenode-content {
        justify-content: center;
      }
      .p-tree-container .p-treenode-content .p-treenode-label,
      .p-tree-container .p-treenode-content button,
      .p-treenode-children {
        display: none;
      }
      .p-treenode-content .p-treenode-icon {
        margin-right: 0;
      }
    }

    & .sidebar,
    & .skeleton-sidebar {
      grid-row: 1 / 3;
    }
    & .content {
      min-height: 75vh;
      max-height: 75vh;
      overflow: auto;
      // position: relative;
    }
  }
}
