.user-roles {
  display: grid;
  grid-template-columns: repeat(2, 22rem);
  grid-gap: 1rem 3rem;
}

.p-accordion-header a.p-accordion-header-link {
  padding: 0.5rem 1rem !important;
  font-size: 12px;
}
.field-row {
  max-width: 650px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr;
  grid-gap: 1.8rem 1rem;
}

.foreground-user-picture {
  position: absolute;
  width: 90px;
  height: 100px;
  max-width: 90px;
  max-height: 90px;
  // top: 0;
  // left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 50%;
}
.foreground-user-picture i {
  font-size: 1.3rem;
  cursor: pointer;
}

.user-picture {
  /* position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 4;
  max-height: 50px; */
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    max-height: 80px;
    &.avatar {
      width: 90px;
      height: 90px;
      max-height: 90px;
      max-width: 90px;
    }
  }
}

.user-picture {
  .foreground-user-picture:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }
}

.item-location {
  border: 1px solid #ced4da;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.state-field {
  width: 2 00px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2rem;
}
.state-field span {
  font-size: 0.9rem;
  color: rgba($color: #000000, $alpha: 0.3);
}
