.logo {
  max-width: 200px;
  width: 100%;
  &.logo-light img {
    background-color: #919191;
    border-radius: 10px;
    padding: 10px;
  }
}

.btn-upload {
  & button.btn-secondary {
    border: 1px solid #dee2e6 !important;
    background-color: #f4f6f9;
    &:hover {
      background-color: darken($color: #f4f6f9, $amount: 12) !important;
    }
  }
}
