@import "../base/settings";

button {
  border-radius: 6px;
  font-size: 0.9rem !important;
  outline: none;
  padding: 6px 10px !important;
  transition: background-color 0.3s ease;
  // max-width: initial;
  // width: 100%;
  &.p-button {
    min-width: 120px;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.6;
  }

  &.p-button.btn.btn-primary {
    background-color: $c-primary;
    border: 1px solid $c-primary;
    &:hover {
      background-color: darken($color: $c-primary, $amount: 10);
    }
  }
  &.p-button.btn-secondary {
    border: 1px solid $c-gray-300 !important;
    background-color: $c-white;
    color: gray;
    &:hover {
      background-color: $c-gray-300;
      color: $c-white;
    }
  }
  &.btn-dark {
    background-color: #000;
    border: 1px solid #000 !important;
    &:hover {
      background-color: lighten($color: #000, $amount: 15) !important;
      color: $c-white;
    }
  }
  &.btn-block {
    display: block;
    width: 100%;
  }
}
