@import '../base/settings';

.fields {
  & .field {
    margin-top: 1.6rem;
  }
}

input,
select,
textarea {
  border-radius: 6px !important;
  font-size: 0.9rem !important;
  width: 100% !important;
}
.label-checkbox {
  color: $c-primary;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 4px;
}
.p-float-label > label {
  color: #ced4da !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: $c-primary !important;
  border-color: $c-primary !important;
}

.p-float-label label {
  font-size: 0.8rem;
  margin-top: -0.3rem !important;
}
