@import '../base/settings';

.form-custom,
.form-modal {
  background-color: $c-white;
  border-radius: 10px;
  padding: 1.4rem 2rem;
  @media (max-width: 767.98px) {
    padding: 1.6rem;
  }
  .user-active {
    background-color: #81ecec;
  }

  .header {
    color: $c-primary;
    text-align: center;

    img {
      margin: auto;
      max-width: 200px;
    }
    .title h3 {
      border-bottom: 1px solid $c-gray-500;
      line-height: 2rem;
      text-transform: uppercase;
    }
    .description p {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }

  .actions {
    margin-top: 1.8rem;
  }
  .header,
  .actions {
    text-align: center;
  }
}
.form-modal {
  padding: 0;
}
.form-dashboard {
  padding: 1.5rem;
  max-width: 750px;

  & .actions {
    display: flex;
    justify-content: center;
  }
}

.p-float-label > label {
  color: #898989 !important;
}
.p-inputtext {
  border-color: #c9c9c9 !important;
}
