.modal-custom {
  & div.p-dialog-header {
    padding: 1.5rem 1.5rem 2px;
  }
  & .p-dialog-header-icons {
    & button.p-dialog-header-icon {
      background-color: transparent !important;
      height: 0.8rem;
      width: 0.8rem;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

/* MODIFY MODAL PRIME REACT */

.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 1rem !important;
  font-size: 14px;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  width: 1rem !important;
  height: 1rem !important;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev span,
.p-datepicker .p-datepicker-header .p-datepicker-next span {
  font-size: 13px !important;
}
.p-datepicker table th {
  padding: 0 !important;
}
.p-datepicker table th span {
  font-size: 13px !important;
}
.p-datepicker table td > span {
  width: 1.1rem !important;
  height: 1.1rem !important;
  font-size: 12px !important;
}
