.table-main {
  .table {
    &-header {
      background-color: #dee2e6;
      color: #4f5467;
      font-weight: 500;
      & .header-title {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &:last-child {
          display: none;
        }
      }
    }
    &-header,
    &-item {
      padding: 14px;
      align-items: center;
      display: grid;
      & h3,
      & p {
        font-size: 14px;
      }
    }

    &-item {
      border-bottom: 1px solid #dfe1e2;
      text-align: center;
      color: #4f5467;
      position: relative;
      &:nth-child(odd) {
        background: #f3f3f3;
      }
      &:nth-child(even) {
        background: #fff;
      }
      &.activated {
        background-color: #d9d9d9;
      }
    }
    &-actions {
      background: white;
      max-width: 195px;
      padding: 8px;
      position: absolute;
      right: 2rem;
      width: 100%;
      top: 2.4rem;
      z-index: 100;
      & .icon-close {
        max-width: 50px;
        position: absolute;
        top: -11px;
        right: 4px;
        background: #d5d5d5;
        padding: 2px 8px;
        border-radius: 50%;
        cursor: pointer;
        & i {
          font-size: 0.8rem;
        }
      }
      & .items {
        position: relative;
        top: -0.2rem;
        display: flex;
        flex-direction: column;
        & button {
          padding: 0 9px;
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }

  &.table-roles .table-header,
  &.table-roles .table-item {
    grid-template-columns: repeat(4, 1fr) 5rem;
  }
  &.table-users .table-header,
  &.table-users .table-item {
    grid-template-columns: repeat(8, 1fr) 3rem;
  }
  &.table-users {
    .table-header,
    .table-item {
      padding: 4px;
      h3,
      i {
        font-size: 12px;
      }
    }
  }
}

.table-pagination {
  select {
    padding: 0.5rem 1rem;
    border: 1px solid #607d8b;
    outline: none;
    color: #607d8b;
  }
}

.table-empty {
  background: #f7f7f7;
  border: 1px solid #dee2e6;
  padding: 1rem;
  text-align: center;
  & h1 {
    color: #4f5467;
    font-weight: bold;
  }
}

/* padding: 4
px
; */
