$c-primary: #dee2e6;
$c-secondary: #4f5467;
$c-table-item-1: #f3f3f3;

.table-main {
  .table {
    &-header,
    &-item {
      padding: 14px;
      align-items: center;
      display: grid;
      & h3 {
        font-size: 14px;
      }
      & p {
        font-size: 13px;
      }
    }
  }

  &.table-roles .table-header,
  &.table-roles .table-item {
    grid-template-columns: 6px repeat(5, 1fr) 3rem;
  }

  &.table-roles .table-secondary .table-header,
  &.table-roles .table-secondary .table-item {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  &.table-users .table-header,
  &.table-users .table-item {
    grid-template-columns: repeat(5, 1fr) 3rem;
  }
  &.table-users {
    .table-header,
    .table-item {
      padding: 10px 6px;
      h3,
      i {
        font-size: 15px;
      }
    }
  }
}

/* -------------------------------------  */
/* ------ TABLE HEADER -----------------  */
/* -------------------------------------  */
.table-main,
.table-secondary {
  .table-header {
    background-color: $c-primary;
    color: $c-secondary;
    font-weight: 500;
    & .header-title {
      & .icon-small {
        font-size: 8px;
      }
    }
  }
}

/* -------------------------------------  */
/* ------ TABLE ITEM -------------------  */
/* -------------------------------------  */
.table-main,
.table-secondary {
  .table-item {
    border-bottom: 1px solid $c-primary;
    color: $c-secondary;
    position: relative;
    &:nth-child(odd) {
      background: $c-table-item-1;
    }
    &:nth-child(even) {
      background: #fff;
    }
    &.selected {
      background-color: #d8dde1;
    }
    &-actions-selected {
      background: white;
      max-width: 195px;
      padding: 8px;
      right: 2rem;
      top: 2rem;
      & i {
        background: #d5d5d5;
        height: 28px;
        max-width: 50px;
        padding: 2px 8px;
        right: 4px;
        top: -8px;
      }
    }
    & .item-selected-actions {
      & button {
        padding: 2px 14px !important;
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

/* -------------------------------------  */
/* ------ TABLE EMPTY -------------------  */
/* -------------------------------------  */
.table-main {
  .table-body-empty {
    background: #f7f7f7;
    border: 1px solid $c-primary;
    padding: 3rem 1rem;
    text-align: center;
    & h3,
    & i {
      color: $c-primary;
    }
    & i {
      font-size: 3rem;
    }
  }
}

/* -------------------------------------  */
/* ------ TABLE PAGINATION -------------  */
/* -------------------------------------  */

.table-main {
  .table-pagination {
    select {
      background-color: transparent;
      padding: 0.5rem 1rem;
      border: 1px solid #607d8b;
      outline: none;
      color: #607d8b;
    }
  }
}

/* padding: 4
px
; */
