.p-panel-title {
  font-size: 0.8rem;
}
.p-panel-header {
  height: 42px;
}
.option-color {
  display: grid;
  align-items: center;
  grid-template-columns: 8rem 14rem 12rem;
  gap: 3rem;
  margin-top: 16px;
  &.max-width {
    grid-template-columns: 8rem 14rem 16rem;
  }
  &:first-child {
    margin-top: 0;
  }
  &-example-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 5px;
    border-radius: 5px;
  }
  input {
    padding: 1px;
  }
  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
