fieldset {
  .p-fieldset-legend.p-unselectable-text {
    background: #efefef;
    &:hover {
      background-color: darken($color: #efefef, $amount: 10) !important;
    }
    & > a {
      padding: 12px !important;
      color: #646464 !important;
    }
  }
}
